<launch>
    <node name="driver" pkg="autolabor_pro2_driver" type="sim_autolabor_pro2_driver" output="screen">
	<param name="port_name" value="/dev/ttyUSB0" />
	<param name="baud_rate" value="115200" />
	<param name="control_rate" value="30" />
	<param name="pid_rate" value="200" />
    </node>
</launch>
