<launch>
    <arg name="model" />
    <arg name="gui" default="false" />

    <param name="robot_description" textfile="$(find autolabor_description)/urdf/autolabor_pro1.urdf" />
    <param name="use_gui" value="$(arg gui)" />

    <!-- 场景模拟 -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find autolabor_simulation_stage)/map/MG_map.yaml" />

    <node name="simulation_stage" pkg="autolabor_simulation_stage" type="simulation_stage_node" output="screen">
	<param name="input_topic" value="map" />
	<param name="output_topic" value="stage_map" />
	<param name="real_map_frame" value="real_map" />
    </node>

    <!-- 车辆底层模拟 -->
    <node pkg="autolabor_simulation_base" type="simulation_base_node" name="autolabor_driver" output="screen">
	<param name="map_frame" value="map"/>
	<param name="odom_frame" value="odom"/>
	<param name="base_link_frame" value="base_link"/>
	<param name="real_map_frame" value="real_map"/>

	<param name="noise_v_linear" value="0.0"/>
	<param name="noise_v_theta" value="0.0"/>

	<param name="max_a_linear" value="999.0"/>
	<param name="max_a_theta" value="999.0"/>

	<param name="max_v_linear" value="1.0"/>
	<param name="max_v_theta" value="1.57"/>

	<param name="rate" value="1000"/>
    </node>

    <!-- 雷达模拟 -->
    <node name="simulation_lidar" pkg="autolabor_simulation_lidar" type="simulation_lidar_node" output="screen">
	<param name="min_angle" value="-3.141592654" />
	<param name="max_angle" value="3.141592654" />

	<param name="min_distance" value="0.15" />
	<param name="max_distance" value="6.00" />

	<param name="size" value="400" />
	<param name="rate" value="10" />
        <param name="noise" value="0.01" />

	<param name="stage_map_topic" value="stage_map" />
	<param name="global_frame" value="real_map" />
	<param name="lidar_frame" value="lidar" />
    </node>
    
    <!-- 手柄遥控 -->
    <node name="joy" pkg="joy" type="joy_node" />

    <node name="joy_to_twist" pkg="joy_to_twist" type="joy_to_twist">
	<param name="linear_min" value="0.3" />
	<param name="linear_max" value="1.0" />
	<param name="linear_step" value="0.1" />

	<param name="angular_min" value="0.314" />
	<param name="angular_max" value="1.57" />
	<param name="angular_min" value="0.314" />
    </node>
   
    <!--node name="keyboard_control" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/-->

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation_launch)/rviz/sim_move_simulation.rviz" />

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.0 0.20 0.0 0.0 0.0 /base_link /lidar 10" />
</launch>
